.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(145, 217, 243) 0%,
    rgb(147, 164, 243) 90%
  );
  padding: 15px 60px 60px 60px;
  margin: 15px 90px 90px 90px;
  width: fit-content;
}
.dark-mode {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  color: white;
  padding: 15px 60px 60px 60px;
  margin: 15px 70px 70px 70px;
}
.img {
  width: 400px;
  max-width: fit-content;
}
h4 {
  font-weight: lighter;
}
h1 {
  margin: 5px 0px 0px 10px;
}
.metrics {
  font-size: 18px;
}
#form {
  margin: 15px 0px 0px 10px;
}
#fahrenheit:hover,
#celsius:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.dark {
  position: relative;
  top: 0px;
  background-color: transparent;
  border-radius: 20px;
}
#search {
  border-radius: 20px;
  background: #d1dff6;
  padding: 5px 10px 5px 10px;
}
#city-search {
  padding: 3px 50px 3px 3px;
  border-radius: 5px;
}
.time {
  text-align: right;
  font-weight: bold;
}
.icon {
  width: 100px;
}
.dark-img {
  width: 25px;
}
.info {
  margin: 25px 0px 0px 5px;
  font-size: 16px;
}
.firstMin,
.secondMin,
.thirdMin,
.fourthMin,
.fifthMin {
  color: rgb(12, 64, 231);
  font-size: 18px;
}
.firstMax,
.secondMax,
.thirdMax,
.fourthMax,
.fifthMax {
  color: rgb(223, 102, 102);
  font-size: 18px;
}
